.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: gray;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 8px solid darkcyan;
  box-shadow: 20px 15 px 5 px blue;
}
body {
  background-color: blanchedalmond;
  /* Hide the overflow of content/remove scroll bar on the side of the page */
  overflow: hidden;
}
.grid h1 {
  font-family: monospace;
  background-color: #57636e;
  font-size: 60px;
  text-align: center;
  color: blue;
  padding: 2px 0px;
  border-radius: 12px;
  padding-0px: 2px;
}
.grid #questions {
  font-family: sans-serif;
  font-size: 30px;
}
#btn0,
#btn1,
#btn2,
#btn3 {
  width: 250px;
  height: 120px;
  margin: 10px 10px 40px 10px;
  margin-left: 30px;
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 20px;
}
#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: chartreuse;
}
.startQuiz {
  /* Flexbox definition */
  display: flex;
  /* Make the startQuiz div contents (in this case the button) centered horizontally within it */
  justify-content: center;
  /* Make the startQuiz div contents (button) centered vertically within it */
  align-items: center;
  /* Set the min height of the startQuiz div to be 100 percent of the viewport (screen) height */
  min-height: 100vh;
}
/* Will use this class in Javascript to make an HTML element hide from view */
.hidden {
  display: none;
}
